<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Ben & Anna 2020</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	
	
	<!-- Font -->
	
	<link href="https://fonts.googleapis.com/css?family=Playball%7CBitter" rel="stylesheet">
	
	<!-- Stylesheets -->
	
	{% load static %}

	<link rel="icon" type="image/png" href="{% static "core/favicon.ico" %}">

	<link href="{% static "core/common-css/bootstrap.css" %}" rel="stylesheet">

	<link href="{% static "core/common-css/fluidbox.min.css" %}" rel="stylesheet">

	<link href="{% static "core/common-css/font-icon.css" %}" rel="stylesheet">

	<link href="{% static "core/03-regular-page/css/styles.css" %}" rel="stylesheet">

	<link href="{% static "core/03-regular-page/css/responsive.css" %}" rel="stylesheet">
	
</head>
<body>
	
	<header>
		
		<div class="container">
		
			<a class="logo" href="#"><img src="{% static "core/images/logo-white.png" %}" alt="Logo"></a>

			<div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="icon icon-bars"></i></div>

			<ul class="main-menu visible-on-click" id="main-menu">
				<li class="top_li"><a href="/">HOME</a></li>
				<li class="top_li"><a href="/details">THE WEDDING</a></li>
				<li class="top_li"><a href="/rsvp">RSVP</a></li>
			</ul><!-- main-menu -->
			
		</div><!-- container -->
	</header>
	
	
	<div class="main-slider">
		<div class="display-table center-text">
			<div class="display-table-cell">
				<div class="slider-content">
					
					<h1 class="title">Information</h1>
					
				</div><!-- slider-content-->
			</div><!--display-table-cell-->
		</div><!-- display-table-->
	</div><!-- main-slider -->
	
	
	<section class="regular-area">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					
					<div class="content">

						<h2 class="margin-top-btm">Everything You Need To Know</h2>

                        <h4 class="margin-top-btm">When And Where</h4>
                        <p class="margin-top-btm">Both the Ceremony and the Reception will be taking place at <strong>Hidden Valley Animal Adventure</strong>,
                            located at <strong>2887 Royce Rd, Varysburg, NY 14167</strong>. The Ceremony <strong>starts at 5:00PM</strong>. Please arrive at least 15 minutes early.
							The ceremony will be taking place at the outdoor gazebo overlooking the pond. Seating for all will be provided. We are
                            hiring a professional photographer and will have plenty of pictures to show or give to you at a later date, so please
                            relax and enjoy the ceremony with your cameras put away.</p>
						
						<h4 class="margin-top-btm">Dress Code</h4>
						<p class="margin-top-btm">We would like all our guests to be comfortable and to be ready to partake in outdoor activities
                            if they desire to. Therefore, nice but casual dress is allowed, including shorts with button-ups/polo shirts and sundresses.
                            Please no pajama pants, sweats, or lounge wear. However, if you feel like being more dressed up that is acceptable as well. </p>

                        <h4 class="margin-top-btm">Local Accommodations</h4>
						<p class="margin-top-btm">If you are coming in from out of town or would like a place to stay the night of the wedding we will be contacting some
							local hotels to reserve a block of rooms. We will update here with information. We will also be chartering a bus to provide transportation
							between the hotel and the venue. Transportation may also be provided to other locations if there are enough guests traveling to them.</p>

                        <h4 class="margin-top-btm">Animal Adventure</h4>
						<p class="margin-top-btm">There is an option to partake in the Safari Tour offered at Hidden Valley. This tour is 30 minutes long will
                            take place during the first half of cocktail hour promptly after the ceremony. On the tour you will ride on a trolley through the
                            grounds of Hidden Valley to view the animals up close. You will be given a cup of feed with which you can feed the various animals
                            present, including but not limited to zebras, buffalo, and antelope. Guests that sign up for the tour will also be allowed one visit
                            to the Small Animal Zoo located next to the Reception Lodge. Only guests that sign up for the Safari Tour on their RSVP will be allowed
                            to participate; therefore, please sign up if you are interested.</p>

                        <h4 class="margin-top-btm">Menu</h4>
						<p class="margin-top-btm">Dinner will be plated. Guests may choose from the options below. Please indicate how many of each meal you would like
                            on your RSVP. The number of meals requested must match the number of people on your RSVP. An open bar will be provided during cocktail hour
                            and after the dinner hour for all guests age 21 and older. Please contact us if you have any special dietary restrictions.</p>

                        <div style="padding-left: 4%">
                            <h5 class="margin-top-btm">Meals With Meat</h5>
                            <ul>
                                <li>Petite Filet Mignon with Demi Glace and Chicken Piccata, Classic Mashed Potatoes</li>
                                <li>Sliced Roast Tenderloin of Beef with Demi Glace and Maryland Crab Cake with Spicy Remoulade, Roasted Red Potatoes</li>
                                <li>Chicken Fingers <strong>(Age 12 and under <i>only</i>)</strong></li>
                            </ul>
                            <h5 class="margin-top-btm">Vegetarian Meals</h5>
                            <ul>
                                <li>Vegetable Stir Fry with Teriyaki Sauce over Jasmine Rice</li>
                                <li>Roasted Vegetable Wellington, Fresh Seasonal Vegetables, Puff Pastry & Sundried Tomato Basil Pesto</li>
                            </ul>
                        </div>

                        <h4 class="margin-top-btm">Gifts</h4>
						<p class="margin-top-btm">There is no expectation of gifts, however if you would still like to give us anything please limit it to monetary gifts only.
							Please also consider donating to a charity on our behalf instead as the greatest gift is your presence.</p>

                        <h4 class="margin-top-btm">RSVP</h4>
						<p class="margin-top-btm">Please RSVP by January 24th. If you cannot make it please RSVP as well. You can RSVP <a href="/rsvp" class="phone">here</a></p>

					</div><!-- content -->
					
				</div><!-- col-sm-12 -->
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- section -->
	
	
	<!-- SCIPTS -->
	
	<script src="{% static "core/common-js/jquery-3.1.1.min.js" %}"></script>

	<script src="{% static "core/common-js/tether.min.js" %}"></script>

	<script src="{% static "core/common-js/bootstrap.js" %}"></script>

	<script src="{% static "core/common-js/jquery.countdown.min.js" %}"></script>

	<script src="{% static "core/common-js/jquery.fluidbox.min.js" %}"></script>


	<script src="{% static "core/common-js/scripts.js" %}"></script>
	
</body>
</html>